/**/

@import "conf.styl";

html
body
    margin 0
    padding 0
    border none
    -webkit-tap-highlight-color transparent
    cursor default
    background #fff
    color #333

html
body
#Spaceship3000
.App
    height 100%
