/**/

@import "conf.styl";

.Sensor
    display inline-block
    font-family DeathStar
    font-size 20px
    padding 10px 20px
    .title
        color #666
    .value
        color #333
        padding-left 12px
        &.low
        &.high
            color #DC8213
        &.min
        &.max
            color #B12121
    .suffix
        color #666
        padding-left 6px
